XFIT_VENDAS_BARBACENA_PATH=data/raw/lojas_fisicas/vendas_barbacena.csv
XFIT_VENDAS_LAFAIETE_PATH=data/raw/lojas_fisicas/vendas_conselheiro_lafaiete.csv
XFIT_METAS_PATH=data/reference/metas_mensais.csv
XFIT_PRODUTOS_PATH=data/reference/produtos.csv
XFIT_ECOMMERCE_JSON_PATH=data/api/vendas_online_api.json
